@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

body {
    background-color: rgb(0, 87, 113);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-size: 90px;
    font-weight: 300;
    margin-bottom: 20px;
}

.main-subtitle {
    font-size: 18px;
    font-weight: 200;
    margin-top: 0px;
    width: 450px;
    text-align: center;
}

.water-alert {
    font-size: 16px;
    font-weight: 300;
    margin-top: 0px;
    width: 460px;
    text-align: center;
    border: 1px dashed rgb(255, 221, 0);
    border-radius: 2px;
    padding: 10px;
    opacity: 0.9;
}

.stopwatch {
    font-size: 80px;
    font-weight: 200;
    margin-top: 10px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.538);
}

.waterwatch {
    font-size: 40px;
    font-weight: 300;
    margin-top: 10px;
}

button {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color: #fff;
    color: rgb(0, 87, 113);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: rotate(2deg);
    transition: all 0.08s ease-in-out;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.499);
    margin: 30px 10px 10px 10px;
}

button:hover {
    transform: rotate(-1deg);
    box-shadow: none;
}

button:active {
    background-color: rgb(255, 221, 0);
}

.pressed {
    background-color: rgb(255, 221, 0);
    transform: rotate(-1deg);
    box-shadow: none;
}

.glasses-container {
    width: 360px;
    padding: 25px;
}

.glass {
    width: 40px;
    height: auto;
    filter: drop-shadow(5px 5px 5px #222);
    margin: 10px;
    animation: bouncing-glass 1s linear infinite;
    transition: all;
}

@keyframes bouncing-glass {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-3deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(3deg);}
